.leftAlign{
    height: 100%;
    display: inline-block;

}
.rightAlign{
    height: 100%;
    display: inline-block;
}
.global{
    height: auto;
    padding: 0px auto;
}
.test{
  display: inline-block;
}
